<form #contactForm="ngForm" (ngSubmit)="contactForm.valid && onSubmit()">
    <div>
      Le formulaire est-il soumis ? {{contactForm.submitted}}
    </div>
    <div>
      Le formulaire est-il valide ? {{contactForm.valid}}
    </div>
    <div>
      Le formulaire est-il INvalide ? {{contactForm.invalid}}
    </div>
  
    <!-- Champ Nom -->
    <fieldset>
      <label for="lastname">Nom</label>
      <input id="lastname" name="lastname" type="text" [(ngModel)]="newMessage.lastname" #lastname="ngModel" required minlength="2">
      @if(contactForm.submitted && lastname.errors){
      @if (lastname.errors) {
        <div>
          @if (lastname.errors['required']) {
            <span>Le nom est requis</span>
          }
          @if (lastname.errors['minlength']) {
            <span>La longueur minimale doit être supérieure à 2</span>
          }
        </div>
      }}
    </fieldset>
  
    <!-- Champ Prénom -->
    <fieldset>
      <label for="firstname">Prénom</label>
      <input id="firstname" name="firstname" type="text" [(ngModel)]="newMessage.firstname" #firstname="ngModel" required minlength="2">
      @if(contactForm.submitted && firstname.errors){
      @if (firstname.errors) {
        <div>
          @if (firstname.errors['required']) {
            <span>Le prénom est requis</span>
          }
          @if (firstname.errors['minlength']) {
            <span>La longueur minimale doit être supérieure à 2</span>
          }
        </div>
      }}
    </fieldset>
  
    <!-- Champ Email -->
    <fieldset>
      <label for="email">Contact</label>
      <input id="email" name="email" type="email" [(ngModel)]="newMessage.email" #email="ngModel" required email>
      @if(contactForm.submitted && email.errors){
      @if (email.errors) {
        <div>
          @if (email.errors['required']) {
            <span>L'email est requis</span>
          }
          @if (email.errors['email']) {
            <span>Veuillez fournir une adresse email valide</span>
          }
        </div>
      }}
    </fieldset>
  
    <!-- Champ Contenu du message -->
    <fieldset>
      <label for="content">Contenu du message</label>
      <textarea id="content" name="content" [(ngModel)]="newMessage.content" #content="ngModel" required minlength="2"  maxlength="15" rows="4" cols="50"></textarea>
      @if(contactForm.submitted && content.errors){
      @if (content.errors) {
        <div>
          @if (content.errors['required']) {
            <span>Le contenu du message est requis</span>
          }
          @if (content.errors['minlength']) {
            <span>Le contenu doit comporter au moins 2 caractères</span>
          }
          @if (content.errors['maxlength']) {
            <span>Le contenu ne doit pas dépasser 15 caractères.</span>
          }
        </div>
      }
    }
    </fieldset>
  
    <button type="reset">Restaurer</button>
    <button type="submit">Sauvegarder</button>
  </form>